<div class="modal" [ngClass]="{modal__visible: visible}">
  <div class="modal__content">
    <h2 class="heading-2 modal__heading">Spiel pausiert</h2>

    <button class="btn" (click)="resumeGame.emit()">Fortsetzen!</button>

    <button class="btn" (click)="onShowTutorial()">Spielanleitung</button>

    <button class="btn" routerLink="/menu">Verlassen</button>
  </div>
</div>

<dmticket-tutorial-modal [level]="level" [visible]="showTutorial" (close)="onShowTutorial()"></dmticket-tutorial-modal>
