@import "~sass/abstract/variables";
@import "~sass/abstract/mixins";

.modal {
    @include modalOverlay;

    &__content {
        @include modalContentBox;

        display: grid;
        grid-row-gap: 2rem;
        justify-content: center;
    }

    &__heading {
      justify-self: center;
    }

    &__visible {
        @include visible;
    }
}

.show-tutorial {
  position: relative;

  &__label {
    margin-left: 1rem;
  }
}
