::ng-deep :root {
    --padding-sides: 1rem;
}

@media only screen and (min-width: 481px) and (max-width: 736px) and (orientation: portrait) {
    ::ng-deep :root {
        --padding-sides: 15vw;
    }
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
    ::ng-deep :root {
        --padding-sides: 15vw;
    }
}

@media only screen and (min-width: 737px) and (max-width: 980px) and (orientation: portrait) {
    ::ng-deep :root {
        --padding-sides: 12vw;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1280px) {
    ::ng-deep :root {
        --padding-sides: 25vw;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    ::ng-deep :root {
        --padding-sides: 27vw;
    }
}

@media only screen and (min-width: 1441px) {
    ::ng-deep :root {
        --padding-sides: 32vw;
    }
}

$grid-gap: 1rem;

$one-column-tickets: 1fr;
$two-column-tickets: repeat(2, calc(50vw - (2 * var(--padding-sides) + #{$grid-gap}) / 2));

.container {
    display: grid;
    grid-template-rows: repeat(3, max-content) minmax(max-content, 1fr);
    grid-row-gap: 1rem;

    min-height: 100vh;
    padding: 1rem var(--padding-sides);

    :last-child {
        align-self: end;
    }
}

.ticket-container {
    display: grid;
    grid-template-columns: $one-column-tickets;
    grid-auto-columns: 1fr;
    grid-gap: $grid-gap;
    align-items: start;

    @media only screen and (orientation: landscape) {
        grid-template-columns: $two-column-tickets;
    }

    @media only screen and (min-width: 900px) {
        grid-template-columns: $one-column-tickets;
    }

}