<main *ngIf="!showTutorial" class="container" >
  <dmticket-header-game [countdown]="gameTimer" [result]="result" [gameInProgress]="gameInProgress"></dmticket-header-game>

  <dmticket-workers-table [level]="level" [gameInProgress]="gameInProgress" [numberOfAdministrators]="numberOfAdministrators" [numberOfProgrammers]="numberOfProgrammers" [startingCapacity]="startingCapacity" [decreaseWorkloadInterval]="decreaseWorkloadInterval" [active]="!!activeTicketPriority" [ticket]="activeTicket" (assignTicket)="assignTicket(activeTicket, $event)" (freeCapacity)="freeCapacity($event)"></dmticket-workers-table>

  <section class="ticket-container">
    <ng-container *ngFor="let ticket of tickets">
      <dmticket-ticket [level]="level" [ticket]="ticket" [active]="ticket === activeTicket" (assignTicket)="assignTicket(ticket, $event)" (selectActiveTicket)="selectActiveTicket(ticket, $event)"></dmticket-ticket>
    </ng-container>
  </section>

  <dmticket-footer-game *ngIf="countdownTimer === 0" [paused]="gamePaused" (pauseGame)="pauseGame()" (resumeGame)="resumeGame()"></dmticket-footer-game>
</main>


<dmticket-tutorial *ngIf="showTutorial" [level]="level" (close)="closeTutorial()"></dmticket-tutorial>

<dmticket-countdown *ngIf="!showTutorial" [countdown]="countdownTimer"></dmticket-countdown>

<dmticket-game-over-modal [level]="level" [gameOverReason]="gameOverReason" [visible]="!gameInProgress && countdownTimer === 0" [result]="result" (newGame)="newGame()"></dmticket-game-over-modal>
