<header class="header">
    <h2 class="heading-2 header__assignedTickets">
      <svg [@tickState]="tickState">
        <use href="assets/img/sprite.svg#tick" xlink:href="assets/img/sprite.svg#tick"></use>
      </svg>
      <p class="header__digits">{{result.correctlyAssigned}}</p>
    </h2>

    <h2 class="heading-2 header__mistakes">
      <svg [@crossState]="crossState">
        <use href="assets/img/sprite.svg#cross" xlink:href="assets/img/sprite.svg#cross"></use>
      </svg>
      <p class="header__digits">{{result.incorrectlyAssigned}}</p>
    </h2>

    <time class="header__remaining-time">
      <svg [ngClass]="{'pulsate': countdown <= 10 && gameInProgress}">
        <use href="assets/img/sprite.svg#clock" xlink:href="assets/img/sprite.svg#clock"></use>
      </svg>
      <p class="header__digits" [ngClass]="{'bold-text': countdown <= 10}">{{countdown}}</p>
    </time>
</header>

<!-- SVG by Freepik from https://www.flaticon.com/ -->
