@import "~sass/base/animations";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
      display: flex;
      align-items: center;

      height: 3rem;
    }

    &__assignedTickets {
      margin-right: 3.5rem;

      svg {
        height: 3rem;
        width: 3rem;
        margin-bottom: 0;
      }
    }

    &__mistakes {
      margin-right: auto;
    }

    &__digits {
      width: 3rem;
    }
}

svg {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1.5rem;
  margin-bottom: .25rem;
}

.pulsate {
  animation: pulsate 1s infinite ease-out;
}

.bold-text {
  font-weight: 800;
}
