@import "~sass/abstract/variables";
@import "~sass/base/animations";

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 40vh 10vh 40vh;

    min-height: 100vh;
}

.heading-1 {
    color: $brand-primary;
}

.heading-2 {
    color: $brand-secondary;
}

.btn {
    align-self: end;
    animation: pulsate 1s infinite ease-out;
}
