:root {
    --font-size: 62.5%; // 1rem = 10px
}

@media only screen and (min-width: 481px) and (max-width: 736px) and (orientation: portrait) {
    :root {
        --font-size: 75%; // 1rem = 12px
    }
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
    :root {
        --font-size: 68.75%; // 1rem = 11px
    }
}

@media only screen and (min-width: 737px) and (max-width: 980px) and (orientation: portrait) {
    :root {
        --font-size: 87.5%; // 1rem = 14px
    }
}

@media only screen and (min-width: 981px) and (max-width: 1280px) {
    :root {
        --font-size: 81.25%; // 1rem = 13px
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    :root {
        --font-size: 87.5%; // 1rem = 14px
    }
}

@media only screen and (min-width: 1441px) {
    :root {
        --font-size: 100%; // 1rem = 16px
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: var(--font-size); 
    background: linear-gradient(to bottom right, $white 0%, $blue-light 70%) no-repeat center center fixed;
}

body {
    font-family: $font-primary;
    user-select: none;
}