%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 5rem;
}

.heading-2 {
    @extend %heading;
    font-size: 2.4rem;
}

.heading-3 {
    @extend %heading;
    font-size: 1.8rem;
}

.heading-4 {
    @extend %heading;
    font-size: 1.2rem;
}

time {
    font-size: 2.5rem;
    font-weight: 400;
}


