<div class="container" [ngClass]="{container__visible: countdown !== 0}">
  <time *ngIf="countdown > 1" class="countdown">{{countdown - 1}}</time>
  <p *ngIf="countdown === 1" class="countdown">Los!</p>
</div>
