@import "~sass/abstract/variables";
@import "~sass/abstract/mixins";

.container {
    @include modalOverlay;
    background-color: transparent;

    &__visible {
        @include visible;
    }
}

.countdown {
  font-size: 15rem;
  background: linear-gradient(to bottom right, $blue-light, $blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: $blue-darkest;
  -webkit-text-stroke-width: 2px;
}
