@import "~sass/abstract/variables";
@import "~sass/base/animations";

.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;

    justify-items: center;
    align-items: center;

    min-height: 100vh;
}

.introduction {
  grid-column: 2 / span 1;
}

.btn {
  grid-column: 2 / span 1;
  align-self: end;
  margin-bottom: 2rem;
}
