<main class="container">
  <article class="introduction heading-2">
    Um die im Betrieb anfallenden Aufgaben für die IT-Abteilung zu sammeln, gibt es sogenannte Ticketverwaltungssysteme.
    <br><br><br>
    Diese nutzt eine IT-Mitarbeiterin aus dem Technischen Support, um die eingehenden Anfragen und Probleme den zuständigen IT-Mitarbeiterinnen zuzuordnen.
  </article>

  <button class="btn" routerLink="/menu">
    Alles klar!
  </button>
</main>
