<div class="priority__button" (click)="onDropdown()">
  <span #selectedPriority class="priority__selected priority__text-area" [ngClass]="{'priority-selected': prioritySelected}">{{selectPriorityLabel}}</span>
  <span class="priority__icon"></span>
</div>

<div *ngIf="visible" class="priority__dropdown">
  <div class="priority__dropdown--item priority__dropdown--item-low priority__text-area" (click)="onAssignPriority(priority.Low)">Niedrig</div>
  <div class="priority__dropdown--item priority__dropdown--item-medium priority__text-area" (click)="onAssignPriority(priority.Medium)">Mittel</div>
  <div class="priority__dropdown--item priority__dropdown--item-high priority__text-area" (click)="onAssignPriority(priority.High)">Hoch</div>
</div>
