@import "~sass/abstract/variables";
@import "~sass/abstract/mixins";

.priority {
    &__button {
      display: flex;
      height: 3.7rem;

      color: $blue-night;
      border: 1px solid currentColor;
    }

    &__selected {
        width: 70%;
        background-color: $white;
    }

    &__icon {
        width: 30%;
        background: linear-gradient(to bottom right, $white, $gray-light);
        border-left: 1px solid currentColor;
    }

    &__icon::after {
        content: "\25bc";
        height: 100%;
        @include flexCenter;
    }

    &__dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;


        width: 100%;
        z-index: 1;
        border: 1px solid currentColor;
        border-top: none;

        :not(:last-child) {
            border-bottom: 1px solid $blue-night;
        }

        &--item {
          height: 3rem;
          color: $white;
          text-shadow: 1px 1px 1px $blue-night;

          &-low {
            background-color: lighten($success, 10%);
          }

          &-medium {
            background-color: lighten($warning, 10%);
          }

          &-high {
            background-color: lighten($danger, 10%);
          }
        }
    }

    &__text-area {
      @include flexCenter;

      text-align: center;
      font-weight: 800;
    }
}

.priority-selected {
  color: $white;
  text-shadow: 1px 1px 1px $blue-night;
}
