@import "~sass/abstract/variables";
@import "~sass/abstract/mixins";

$border: 1px solid $blue-night;

.workers-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-shadow: 1px 1px 2px $blue-night;

    border-top: $border;
    border-right: $border;
}

.worker-block {
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 1fr 2fr 2fr;

    &__header {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;

      @include flexCenter;

      background: linear-gradient(to top right, $white, darken($white, 6%));

      border-left: $border;
      border-bottom: $border;
    }

    &__icon {
      grid-row: 2 / span 2;
      grid-column: 1 / span 1;

      display: grid;
      justify-content: center;
      align-items: center;

      background: linear-gradient(to top right, $white, $blue-light);

      border-left: $border;
      border-bottom: $border;

      &--admin {
        width: 2.3rem;
        height: 2.3rem;
      }

      &--programmer {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
}

.hidden {
  display: none;
}
