<section class="workers-table" [ngClass]="{'hidden': level !== 3}">
  <article class="worker-block">
    <header class="worker-block__header heading-4">
      Systemadministrator
    </header>

    <aside class="worker-block__icon">
      <svg class="worker-block__icon--admin">
        <use href="assets/img/sprite.svg#server" xlink:href="assets/img/sprite.svg#server"></use>
      </svg>
    </aside>

    <ng-container *ngFor="let admin of administrators">
      <dmticket-worker-row [active]="active" [gameInProgress]="gameInProgress" [decreaseWorkloadInterval]="decreaseWorkloadInterval" [ticket]="ticket" [worker]="admin" (assignTicket)="assignTicket.emit($event)" (freeCapacity)="freeCapacity.emit($event)"></dmticket-worker-row>
    </ng-container>
  </article>


  <article class="worker-block">
    <header class="worker-block__header heading-4">
      Entwickler
    </header>

    <aside class="worker-block__icon">
      <svg class="worker-block__icon--programmer">
        <use href="assets/img/sprite.svg#computer" xlink:href="assets/img/sprite.svg#computer"></use>
      </svg>
    </aside>

    <ng-container *ngFor="let programmer of programmers">
      <dmticket-worker-row [active]="active" [gameInProgress]="gameInProgress" [decreaseWorkloadInterval]="decreaseWorkloadInterval" [ticket]="ticket" [worker]="programmer" (assignTicket)="assignTicket.emit($event)" (freeCapacity)="freeCapacity.emit($event)"></dmticket-worker-row>
    </ng-container>
  </article>
</section>

