
<main class="container">
  <h1 class="heading-1">
    DigitalMe
  </h1>

  <h2 class="heading-2">
    Ticketverwaltungsspiel
  </h2>

  <button class="btn" routerLink="/introduction">
    Spielen!
  </button>

</main>
