<router-outlet *ngIf="!isIE"></router-outlet>

<main *ngIf="isIE" class="container">
  <h2 class="heading-2" >Internet Explorer-Browser werden leider nicht unterstützt, bitte installieren Sie einen aktuellen Browser (Chrome, Firefox, ....).</h2>
</main>
