<div class="workers" (click)="onAssignTicket()">
  <div class="workers__icon-cell" [ngClass]="{'workers__icon-cell--administrator': worker.profession === profession.Administrator, 'workers__icon-cell--programmer': worker.profession === profession.Programmer}">
    <svg>
      <use attr.href="assets/img/sprite.svg#{{worker.svgId}}" attr.xlink:href="assets/img/sprite.svg#{{worker.svgId}}"></use>
    </svg>
  </div>

  <div class="workers__resource-cell" [ngClass]="{'workers__resource-cell--low': worker.workload === workload.Low, 'workers__resource-cell--medium': worker.workload === workload.Medium, 'workers__resource-cell--high': worker.workload === workload.High}"></div>

  <div class="workers__resource-cell" [ngClass]="{'workers__resource-cell--medium': worker.workload === workload.Medium, 'workers__resource-cell--high': worker.workload === workload.High}"></div>

  <div class="workers__resource-cell" [ngClass]="{'workers__resource-cell--high': worker.workload === workload.High}"></div>
</div>
