@import "~sass/abstract/variables";

.workers {
    display: flex;

    & > * {
        width: 25%;
        border-left: 1px solid $blue-night;
        border-bottom: 1px solid $blue-night;
    }

    &__icon-cell {
        display: flex;
        justify-content: center;

        &--administrator {
            background: linear-gradient(to bottom right, $blue-light, $blue);
        }

        &--programmer {
            background: linear-gradient(to bottom right, $blue-light, $gray-blueish);
        }

        svg {
            height: 3rem;
            width: 3rem;
            margin: .3rem 0;
        }
    }

    &__resource-cell {
        background-color: $white;

        &--low {
            background-color: $success;
        }

        &--medium {
            background-color: $warning;
        }

        &--high {
            background-color: $danger;
        }
    }
}