<div class="modal" [ngClass]="{modal__visible: visible}">
  <div class="modal__content">
    <h2 class="heading-2"> {{gameOverReason}} </h2>

    <h3 class="heading-3">Korrekt zugewiesene Tickets: {{result.correctlyAssigned}}</h3>

    <h3 *ngIf="level !== 1" class="heading-3">Korrekt zugewiesene Prioritäten: {{result.correctPriorities}}</h3>

    <h3 class="heading-3">Fehler: {{result.incorrectlyAssigned}}</h3>

    <button class="btn" (click)="newGame.emit()">Wiederholen!</button>

    <button class="btn" routerLink="/menu">Verlassen</button>
  </div>
</div>
