@import "~sass/abstract/variables";
@import "~sass/abstract/mixins";

.modal {
    @include modalOverlay;

    &__content {
        @include modalContentBox;

        display: grid;
        grid-row-gap: 1rem;
        justify-content: center;

        button {
            justify-self: center;
        }
    }

    &__visible {
        @include visible;
    }
}

.heading-2 {
  justify-self: center;
}
