@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

@mixin invisible {
    opacity: 0;
    visibility: hidden;
}

@mixin modalOverlay {
    @include flexCenter;
    @include invisible;

    height: 100vh;
    width: 100vw;
    padding: 1rem;
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($blue-night, .93);

    transition: opacity .3s;
}

@mixin modalContentBox {
    width: max-content;
    padding: 2rem;
    background-color: $white;
    border-radius: 3px;
}
