// COLOR VARIABLES
$blue-light: #d3e4ea;
$blue: #0093bd;
$blue-darker: #004775;
$blue-darkest: #002848;
$blue-night: #15141a;

$white: #fff;

$beige-light: #f1ecdf;
$beige: #d8d1bc;
$beige-darkest: #9e9883;
$gray-blueish: #69748b;
$gray: #465153;
$gray-light: #d1d1d1;

$success: #95c11f;
$info: $blue;
$warning: #ffce00;
$danger: #e64b24;

$brand-primary: $blue;
$brand-secondary: $blue-darkest;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
