.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 3rem;
        display: inline-block;
        border-radius: 2px;
        transition: all .2s;
        font-family: $font-display;
        font-size: 1.5rem;
        background: linear-gradient(to bottom right, $white, $gray-light);
        box-shadow: 1px 1px 2px $blue-night;

        border: none;
        outline: none;
        cursor: pointer;
    }

    &:active {
        transform: scale(.95);
    }
}
