.checkbox {
  visibility: hidden;

  &::after {
    content: " ";
    visibility: visible;

    position: absolute;
    top: 0;
    left: 0;

    @include flexCenter;

    width: 1.5rem;
    height: 1.5rem;

    background-color: #fff;
    color: $blue-darker;

    border: 1px solid $blue-darkest;
    border-radius: 2px;
  }

  &:checked::after {
    content: "\2716";
    font-weight: bold;
  }
}
