@import "~sass/abstract/variables";

.container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-row-gap: 2rem;

  justify-items: center;
  align-items: center;

  min-height: 100vh;

  padding: 2rem 0;
}

dmticket-tutorial-content, .btn {
  grid-column: 2 / span 1;
}
