@import "~sass/abstract/variables";
@import "~sass/abstract/mixins";

.modal {
    @include modalOverlay;

    &__content {
        @include modalContentBox;

        display: grid;
        grid-template-columns: 10% 80% 10%;

        justify-items: center;
        align-items: center;

        button {
            grid-column: 2 / span 1;
            margin-top: 2rem;
        }
    }

    &__visible {
        @include visible;
    }
}

dmticket-tutorial-content {
  grid-column: 2 / span 1;
}
