<div class="modal" [ngClass]="{modal__visible: visible}">
  <div class="modal__content">
    <dmticket-tutorial-content [level]="level"></dmticket-tutorial-content>

    <button class="btn" (click)="close.emit()">Schliessen</button>
  </div>
</div>

