<footer class="footer">
  <button class="btn" (click)="pauseGame.emit()">
    Menü
  </button>
</footer>

<dmticket-game-menu-modal [visible]="paused" (resumeGame)="resumeGame.emit()"></dmticket-game-menu-modal>