<article class="ticket" (click)="selectActiveTicket.emit(selectedPriority)" [ngClass]="{'active': active && isLevelThree()}">
  <h4 class="ticket__submitter">
    Anfragender: {{ticket.submittedBy}}
  </h4>

  <p class="ticket__description">
    {{ticket.description}}
  </p>

  <div class="ticket__selection-area">
    <ng-container *ngIf="!professionAssigned && !isLevelThree()">
      <div class="ticket__proffesion" (click)="onAssignProfession(profession.Administrator)">
        <svg>
          <use href="assets/img/sprite.svg#server" xlink:href="assets/img/sprite.svg#server"></use>
        </svg>

        <label class="ticket__worker-label" (click)="onAssignProfession(profession.Administrator)">Systemadministrator</label>
      </div>

      <div class="ticket__proffesion" (click)="onAssignProfession(profession.Programmer)">
        <svg>
          <use href="assets/img/sprite.svg#computer" xlink:href="assets/img/sprite.svg#computer"></use>
        </svg>

        <label class="ticket__worker-label" (click)="onAssignProfession(profession.Programmer)">Entwickler</label>
      </div>
    </ng-container>

    <dmticket-priority-dropdown class="ticket__dropdown" *ngIf="professionAssigned || isLevelThree()" [active]="active" (assignPriority)="onAssignPriority($event)"></dmticket-priority-dropdown>
  </div>
</article>
