@import "~sass/abstract/mixins";
@import "~sass/abstract/variables";

@import "~sass/base/animations";

.ticket {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1rem;
    align-items: center;

    border: 1px solid $beige-darkest;
    background: linear-gradient(to bottom right, $white, $beige-light);
    box-shadow: 1px 1px 1px $beige-darkest;

    padding: 1rem;

    animation: moveInRight 1s ease-out;

    &__submitter {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    &__description {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    &__dropdown {
        grid-column: auto / span 2;

        width: 100%;
        position: relative;
    }

    &__selection-area {
        grid-row: 1 / span 2;
        grid-column: 2 / span 1;

        @include flexCenter;

        height: 5rem;
    }

    &__proffesion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 5px;
        height: 5rem;

        transition: all .2s;

        border: 1px solid $blue-night;
        background: linear-gradient(to bottom right, $white, $blue-light);
        box-shadow: 1px 1px 1px $blue-night;

        svg {
          height: 2.6rem;
          width: 2.6rem;
          margin: .4rem 0;
        }

        &:first-child {
          margin-right: 1rem;

          svg {
            height: 3.8rem;
            width: 3.8rem;
            margin: 0;
          }
        }

        &:active {
          transform: scale(.95);
      }

    }

    &__worker-label {
        font-size: .7rem;
        font-weight: 700;
    }


}

.active {
  box-shadow: 2px 2px 5px $blue-night;
  border: 1px solid $blue-night;
}

