<article class="heading-3" [ngSwitch]="level">
  <ng-container *ngSwitchCase="'1'">
    Hilf Anna, die eingehenden Anfragen im Ticketsystem zu sortieren und zuzuordnen. Berücksichtige dabei, dass die Aufgaben nur von bestimmten Mitarbeiterinnen (Administratorin oder Entwicklerin) bearbeitet werden können. Drücke entweder den „Systemadministratorin“ oder „Entwicklerin“ Button auf den Tickets!
    <br><br><br>
    Administratorinnen übernehmen Wartungsaufgaben, Störungen im Betrieb und Nutzeranfragen.
    <br><br><br>
    Softwareentwicklerinnen sind immer dann zuständig, wenn etwas Neues an Software entsteht wie z.B. neue Features oder Software angepasst wird.
  </ng-container>

  <ng-container *ngSwitchCase="'2'">
    In diesem Level musst du zusätzlich über die Dringlichkeit für eingehenden Tickets entscheiden.
    <br><br><br>
    Überlege dabei, wie eilig die Aufgabe ist und wie weitreichend das Problem für das Unternehmen ist! Betrifft das Computerproblem bzw. das Anliegen das ganze Unternehmen oder nur eine Mitarbeiterin? Können die Mitarbeiterinnen noch weiterarbeiten oder sind sie arbeitsunfähig?
    <br><br><br>
    <strong>Hohe Priorität (rot)</strong> haben etwa Tickets, wo die Internetverbindung des gesamten Unternehmens ausfällt oder dringliche Termine der Chefin anstehen.
    <br><br><br>
    <strong>Mittlere Priorität (gelb)</strong> haben beispielsweise Tickets, wo für eine Veranstaltung am nächsten Tag der Beamer nicht funktioniert oder aktuelle Informationen auf der Homepage nicht veröffentlicht werden können.
    <br><br><br>
    <strong>Niedrige Priorität (grün)</strong> haben hingegen Tickets, wo etwa ein einzelner Drucker ausfällt, aber alternative Drucker verfügbar sind, oder einfache Anfragen von Mitarbeiterinnen.
  </ng-container>

  <ng-container *ngSwitchCase="'3'">
    Jetzt setzen wir dem Ganzen noch einen drauf! Nun musst du den Tickets Prioritäten zuordnen und sie anschließend den einzelnen Mitarbeiterinnen   je nach Ticket Entwicklerin oder Systemadministratorin   zuordnen und dabei auch auf die Auslastung der einzelnen Mitarbeiterinnen achten.
    <br><br><br>
    Ein grün gefärbter Auslastungsbalken bedeutet, dass die Mitarbeiterin noch Kapazitäten frei hat, bei gelb ist die Mitarbeiterin gut beschäftigt, könnte aber noch 1-2 Tickets aufnehmen. Bei Rot sollten möglichst keine Tickets mehr zugeordnet werden, sonst droht das Ticket nicht bearbeitet zu werden!
  </ng-container>
</article>
