<main class="container">
  <h1 class="heading-1">
    Schwierigkeit
  </h1>

  <button class="btn" [routerLink]="['/level', 1]">
    Stufe 1
  </button>

  <button class="btn"  [routerLink]="['/level', 2]">
    Stufe 2
  </button>

  <button class="btn" [routerLink]="['/level', 3]">
    Stufe 3
  </button>

</main>
